body {
    background-color:white;
}


/* Disable dot on UL and LI tags */ 
ul {
    list-style-type: none;
}


/* Navigation bar */
.navbar-custom{
    background-color: #4267B2;
}
.navbar-custom .nav-item .nav-link {
    color: #ffffff;
}
.navbar-custom .nav-item:hover .nav-link {
    color: #afc8ff;
}
.navbar-brand {
    color: #ffffff;
}
.navbar-brand:hover{
    color: #afc8ff;    
}


/* photopost card */
.myphotocard {
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    border-radius: 7px;
    transition: transform .2s; /* Animation */
}
.myphotocard:hover {
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    border-radius: 7px;
    transform: scale(1.01);
}
img {
    height:100%;
    width:100%;
}
.photo_col_padding { 
    padding:10px;
}


/* login card and register card*/
.card {
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}
.card:hover{
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
}


/* all likes and all comments modal */
.modalstyle {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index : 999;
}


